@import "tailwindcss";

body {
  background-color: #121212;
  color: #d1d5db;
}

.marquee {
  animation: scroll-left 10s linear infinite alternate;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      calc(-100% + 100% / (scrollWidth / 100%))
    ); /* calculate the translation value based on the scrollWidth */
  }
}
